<h1>Helmet for Goliath</h1>
<h2>Current Session Data: <%= data %></h2>
<form name="session" action="/session" method="post">
  <label for="session">Session data:</label>
  <input type="text" name="session">
  <input type="submit" value="send">
</form>
