<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/helmet.css" type="text/css" media="screen">
    <title>Helmet - Test</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>